In [1]:
from preprocess import *

/opt/conda/lib/python3.9/site-packages/_distutils_hack/__init__.py:30: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

In [2]:
df = prep_movielens()

100%|██████████| 4.81k/4.81k [00:00<00:00, 14.6kKB/s]

In [3]:
df.head()

   userID  itemID  rating   genre
0     196     242     3.0  Comedy
1      63     242     3.0  Comedy
2     226     242     5.0  Comedy
3     154     242     3.0  Comedy
4     306     242     5.0  Comedy

In [13]:
df.dropna()

       userID  itemID  rating        genre
0         196     242     3.0       Comedy
1          63     242     3.0       Comedy
2         226     242     5.0       Comedy
3         154     242     3.0       Comedy
4         306     242     5.0       Comedy
...       ...     ...     ...          ...
99995     840    1674     4.0        Drama
99996     655    1640     3.0        Drama
99997     655    1637     3.0        Drama
99998     655    1630     3.0        Drama
99999     655    1641     3.0  Documentary

[100000 rows x 4 columns]

In [7]:
users = sorted(df.userID.unique())
items = sorted(df.itemID.unique())

In [9]:
num_users = len(users)
num_items = len(items)

In [4]:
import numpy as np
import pandas as pd
from collections import Counter
from sklearn.model_selection import train_test_split
from scipy import sparse

In [15]:
def encode_column(column):
    """ Encodes a pandas column with continous IDs"""
    keys = column.unique()
    key_to_id = {key:idx for idx,key in enumerate(keys)}
    return key_to_id, np.array([key_to_id[x] for x in column]), len(keys)

In [18]:
def encode_df(df):
    """Encodes rating data with continuous user and anime ids"""
    
    item_ids, df['itemID'], num_items = encode_column(df['itemID'])
    user_ids, df['userID'], num_users = encode_column(df['userID'])
    return df, num_users, num_items, user_ids, item_ids

In [32]:
moviedf, num_users, num_items, user_ids, item_ids = encode_df(df)

In [28]:
moviedf.head()

   userID  itemID  rating   genre
0       0       0     3.0  Comedy
1       1       0     3.0  Comedy
2       2       0     5.0  Comedy
3       3       0     3.0  Comedy
4       4       0     5.0  Comedy

In [20]:
sparse_item_user = sparse.csr_matrix((moviedf['rating'].values,(moviedf['userID'].values, moviedf['itemID'].values)),shape=(num_users, num_items))

In [21]:
train_matrix, test_matrix = train_test_split(sparse_item_user)

In [22]:
import implicit

In [23]:
model = implicit.bpr.BayesianPersonalizedRanking(factors = 20, regularization=0.1, iterations=20)

In [24]:
model.fit(train_matrix)

  0%|          | 0/20 [00:00<?, ?it/s]

In [25]:
from eval import *

In [27]:
eval_bpr(model,train_matrix, test_matrix)

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

-------- K = 1 --------
NDCG@k:	0.542373
Recall@k:	0.542373
MNAP@K:	0.542373
-------- K = 5 --------
NDCG@k:	0.467349
Recall@k:	0.449153
MNAP@K:	0.376836
-------- K = 10 --------
NDCG@k:	0.441273
Recall@k:	0.420763
MNAP@K:	0.323525
-------- K = 15 --------
NDCG@k:	0.420986
Recall@k:	0.397458
MNAP@K:	0.290566
-------- K = 20 --------
NDCG@k:	0.402739
Recall@k:	0.376059
MNAP@K:	0.265794

In [33]:
df1 = prep_netflix('datasets/netflix-prize/combined_data_1.txt')

In [34]:
df1.head()

     Cust_Id  Rating  Movie_Id
696   712664     5.0         3
697  1331154     4.0         3
698  2632461     3.0         3
699    44937     5.0         3
700   656399     4.0         3

In [35]:
netdf, num_users, num_anime, user_ids, anime_ids = encode_df(df)

In [37]:
sparse_item_user = sparse.csr_matrix((netdf['rating'].values,(netdf['userID'].values, netdf['itemID'].values)),shape=(num_users, num_anime))

In [38]:
train_matrix, test_matrix = train_test_split(sparse_item_user)

In [40]:
model = implicit.bpr.BayesianPersonalizedRanking(factors = 20, regularization=0.1, iterations=20)

In [41]:
model.fit(train_matrix)

  0%|          | 0/20 [00:00<?, ?it/s]

In [42]:
eval_bpr(model,train_matrix, test_matrix)

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

  0%|          | 0/236 [00:00<?, ?it/s]

-------- K = 1 --------
NDCG@k:	0.555085
Recall@k:	0.555085
MNAP@K:	0.555085
-------- K = 5 --------
NDCG@k:	0.483373
Recall@k:	0.466102
MNAP@K:	0.393037
-------- K = 10 --------
NDCG@k:	0.449662
Recall@k:	0.426271
MNAP@K:	0.330420
-------- K = 15 --------
NDCG@k:	0.428659
Recall@k:	0.402825
MNAP@K:	0.295096
-------- K = 20 --------
NDCG@k:	0.412252
Recall@k:	0.384746
MNAP@K:	0.271345

In [9]:
dfs2 = prep_anime('datasets/anime/rating.csv')

In [10]:
df2 = dfs2[0]
df2.head()

   user_id  anime_id  rating
0        0         0      10
1        0         1      10
2        0         2      10
3        0         3      10
4        1         4      10

In [3]:
df3 = prep_lastfm()

In [4]:
df3.head()

,user,artist,plays,user_id,artist_id
0,00000c289a1829a808ac09c00daf10bc3c4e223b,die Ärzte,1099,0,90933
1,00000c289a1829a808ac09c00daf10bc3c4e223b,melissa etheridge,897,0,185367
2,00000c289a1829a808ac09c00daf10bc3c4e223b,elvenking,717,0,106704
3,00000c289a1829a808ac09c00daf10bc3c4e223b,juliette & the licks,706,0,155241
4,00000c289a1829a808ac09c00daf10bc3c4e223b,red hot chili peppers,691,0,220128

In [ ]:
df2